*{
    align-items: center;
}
.data {
    margin: 25px;
    padding: 25px;
    border: 1px solid #ccc;
}
.card {
    display: flex;
    margin-bottom: 10px;
    padding: 30px;
    border: 1px solid #928e8e;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(52, 43, 43, 0.3);
}
.card span {
    display: flex;
    align-items: center;
}
.card p {
    margin: 0;
    margin-right: 10px;
}
